    body{
        background-image: url('https://cdn.hipwallpaper.com/i/48/96/xepk6D.jpg');
        background-size: cover;
    }

    .menu ul {
        display: flex;
        justify-content: center;
    }

    .menu ul li {
        list-style: none;
        float: left;
    }

    ul li a {
        width: 150px;
        height:27px;
        text-align:center;
        display:block;
        padding: 25px 20px;
        text-decoration: none;
        background-image: url('button.png');
        background-size: 100%;
        color:black;
        padding-top:30px;
        border-radius:18px;
        font-size: 20px;
    }

    ul li a:hover {
        display:block; 
        text-decoration: underline;
        color: white;
        transform: scale(1.15);
        
    }

    h1 {
        text-align:center;
        font-family: monospace;
        font-size:40px; 
    }

    #bogomil-photo {
        display: block;
        margin-left: auto;
        margin-right: auto ;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        width: 300px;
        height:400px;
    }

    #bogomil-photo:hover {
        transform:scale(1.1);
    }
    #Hz-photo{
        width:400px;
        height:180px;
    }

    .profession-photos {
        width:400px;
        height:180px;
        margin: 40px;
    }

    .center-text {
        text-align:center;
        font-family:cursive;
    }

    ol li {
        font-size:20px;
    }

    #list {
        font-size:20px;  
    }

    #list1 {
        font-size:20px; 
    }

    h3 {
        font-family:cursive;
    }

    img {
        border:10px ridge #a6d5fc;
    }

    p {
        font-size:20px;
    }

    li {
        font-size:20px;
    }
    
    .links-dashboard { 
        font-size:20px;
        line-height:37px;
    }
    #dashboard {
        width: 100%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }

    th,td {
          padding: 7px;
      }

    th {
          background-color: rgba(26, 30, 247, 0.76);
          color: white;
    }

    .row1 {
          background-color:rgba(222, 223, 252, 0.767);
    }

    .row2 {
        background-color:rgba(248, 242, 242, 0.897);
    }

    .h-center {
          text-align:center;
    }

    progress {
        -webkit-appearance: none;
         appearance: none;
        width: 1500px;
        height: 20px;
    }

      rogress::-webkit-progress-bar {
        background-color: rgb(145, 28, 241);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }

      progress::-webkit-progress-value {
        background-image:
             -webkit-linear-gradient(-45deg, 
                                     transparent 33%, rgba(0, 0, 0, 0.1) 33%, 
                                     rgba(0,0, 0, .1) 66%, transparent 66%),
             -webkit-linear-gradient(top, 
                                     rgba(255, 255, 255, .25), 
                                     rgba(0, 0, 0, .25)),
             -webkit-linear-gradient(left, rgb(192, 233, 247), rgb(247, 194, 194));
      
          border-radius: 8px; 
          background-size: 35px 20px, 100% 100%, 100% 100%;
    }

    #bar{
          text-align:center;
          color:rgba(250, 25, 25, 0.932);
    }
    .companies{
        text-align:center;
        font-family:cursive;
        padding-left: 150px;
        padding-right: 150px;
    }
    #sources{
        font-size:15px;
    }
    #companies{
        width: 50%;
        margin-left: auto;
  margin-right: auto;
    }
    .firstTd{
        background-color:  #99c2ff;
        text-align: center;
    }
    .secondTd{
        background-color: #e6f2ff;
        text-align: center;
    }
    .details {
        font: 16px "Open Sans", Calibri, sans-serif;
        width:90%;
        margin-left: auto;
  margin-right: auto;
      }
      
      .details > summary {

        background-color: #b3c6ff;
        border: none;
        box-shadow: 3px 3px 4px black;
        cursor: pointer;
        list-style: none;
      }
      
      .details > summary::-webkit-details-marker {
        display: none ;
      }
      .details > p {
        border-radius: 0 0 10px 10px;
        background-color: rgb(235, 250, 253);
        padding: 2px 6px;
        margin: 0;
        box-shadow: 3px 3px 4px black;
        text-align: left;
    }

      .sources{
        font: 16px "Open Sans", Calibri, sans-serif;
        width:30%;
        padding-bottom: 10px;
      }
      .sources > summary {

        background-color: #d0dafa;
        border: none;
        box-shadow: 3px 3px 4px black;
        cursor: pointer;
        list-style: none;
      }
      
      
      .sources > p {
        border-radius: 0 0 10px 10px;
        background-color: rgb(238, 247, 210);
        padding: 2px 6px;
        margin: 0;
        box-shadow: 3px 3px 4px black;
        font-size: 15px;
      }
     .motivation-photos{
        display: block;
        margin-left: auto;
        margin-right: auto ;
        margin-top: 10px;
        width:600px;
        height: 200px;
        border: none;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }